<% 
from rdflib import URIRef

def formatQName(qname):
  term = qname
  if ':' in qname:
      term = qname.split(':', 1)[1]
  for ch in filter(str.isupper, str(term)):
    term = term.replace(ch, ' '+ch.lower())
  term = term[0].upper() + term[1:]
  return term.strip()
%>

% if c.metadata:
  <table class="metadata" summary="Bibliographic information for the data package" >
  <!-- title -->
  % if 'dc:title' in c.metadata or 'dcterms:title' in c.metadata:
    <%
    vals = []
    if 'dc:title' in c.metadata:
      vals.extend(c.metadata['dc:title'])
    if 'dcterms:title' in c.metadata:
      vals.extend(c.metadata['dcterms:title'])
    %> 
    <tr><th>Title</th><td>
    % for v in vals:
      % if isinstance(v, URIRef):
        <a href="${v}">${v}</a><br/>
      % else:
        ${v}<br/>
      % endif
    % endfor
    </td></tr>
  % endif
  <!-- isEmbargoed -->
  % if 'oxds:isEmbargoed' in c.metadata:
    <tr><th>Is embargoed</th><td>
    % for v in c.metadata['oxds:isEmbargoed']:
      <%
      if str(v).lower() in ['true', '1']:
          v = 'Yes'
      else:
          v = 'No'
      %>
      % if isinstance(v, URIRef):
        <a href="${v}">${v}</a><br/>
      % else:
        ${v}<br/>
      % endif
    % endfor
    </td></tr>  
  % endif
  <!-- embargoedUntil -->
  % if 'oxds:embargoedUntil' in c.metadata:
    <tr><th>Embargoed Until</th><td>
    % for v in c.metadata['oxds:embargoedUntil']:
      % if isinstance(v, URIRef):
        <a href="${v}">${v}</a><br/>
      % else:
        ${v}<br/>
      % endif
    % endfor
    </td></tr>  
  % endif
  <!-- DOI -->
  % if 'bibo:doi' in c.metadata:
    <tr><th>DOI</th><td>
    % for v in c.metadata['bibo:doi']:
      % if isinstance(v, URIRef):
        <a href="${v}">${v}</a><br/>
      % elif v.startswith('10'):
        <a href="http://dx.doi.org/${v}">${v}</a><br/>
      % else:
        ${v}<br/>
      % endif
    % endfor
    </td></tr>  
  % endif
  <!-- All other properties -->
  % for k, vals in c.metadata.iteritems():
    % if not k in ['dc:title', 'dcterms:title', 'oxds:isEmbargoed', 'oxds:embargoedUntil', 'ore:aggregates', 'bibo:doi']:
      <tr><th>${formatQName(k)}</th><td>
      % for v in vals:
        % if k in ['dcterms:license', 'dc:license']:
          % if v == "CC0 1.0 Universal (CC0 1.0). See http://creativecommons.org/publicdomain/zero/1.0/legalcode":
            <a href="http://creativecommons.org/publicdomain/zero/1.0/legalcode" target="_blank">CC0 1.0 Universal (CC0 1.0)</a><br/>
          % elif v == "Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License. See http://creativecommons.org/licenses/by-nc-sa/3.0/":
            <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a><br/>
          % else:
            ${v}<br/>
          % endif
        % elif isinstance(v, URIRef) or v.startswith('http'):
          % if 'ouls' in v:
          <%
            v = v.replace('ora.ouls.ox.ac.uk', 'ora.ox.ac.uk')
          %>
          % endif
          <a href="${v}">${v}</a><br/>
        % else:
          ${v}<br/>
        % endif
      % endfor
      </td></tr>
    % endif
  % endfor
  <!-- aggregates  -->
  % if 'ore:aggregates' in c.metadata:
    <tr class="aggregates"><th>Aggregates</th><td><div>
    <ul>
    % for v in c.metadata['ore:aggregates']:
      % if isinstance(v, URIRef) or v.startswith('http'):
        <li><a href="${v}">${v}</a></li>
      % else:
        <li>${v}</li>
      % endif
    % endfor
    </ul>
    </div></td></tr>  
  % endif
  <!-- end -->
  ##${c.metadata}
  </table>
% endif
